:root{
    --verde:#1D957F;
    --azul: #4285F4;
    --gris: #616161;
    --negro:#000000;
    --gris-claro:#FAFBFD;
    --blanco: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Rubik', sans-serif;*/
    /* font-family: 'Raleway', sans-serif; */
}
/* GLOBALES*/
.font-body{
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: normal;
    line-height: 138%;
    color: var(--gris);
}

.font-btn{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: normal;
    
    line-height: 138%;
    color: var(--gris);
}
.bold{
    font-weight: bold;
}
.bolder{
    font-weight: bolder;
}

.bigest{
    font-size: 44px;
}
.big{
    font-size: 36px;
}
.normal{
    font-size: 16px;
}
.small{
    font-size: 12px;
}
.smaller{
    font-size: 11px;
}
.smallest{
    font-size: 9px;
}

.box-shadow{
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
}

.height-paragraph{
    line-height: 16px;
}
.height-big-title{
    line-height: 55px;
}
.height-medium-title{
    line-height: 42px;
}
.height-normal-title{
    line-height: 22px;
}

/* HEADER-NAV */
.block{
    display: block;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 37px 16px;
    height: 40px;
}

header button{
    background: none;
    outline: none;
    border: none;
}
nav{
    width: 312px;
    height: 1257px;
    position: absolute;
    top: 102px;
    right: 0;
    z-index: 99;
    background: var(--verde);
    padding: 68px;
    display: none;
}
nav ul{
    display: grid;
    grid-row-gap:24px;
}
nav a{
    all:unset;
    color: var(--blanco);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.14rem;
    line-height: auto;
    

}
nav li{
    list-style: none;
    
}

/*SECTION*/
article h2{
    color:var(--negro)! important;
}
h2 span{
    color: var(--verde);
}
article button{
    letter-spacing: 0.14rem;
    background: var(--verde);
    color: var(--blanco);
    border: none;
    outline: none;
    color: white !important;
    width: 144px;
    height: 40px;
    border-radius: 5px;   
}
article p{
    letter-spacing: 0.08rem;
}
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation-article{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 11px;
    padding: 5px 0px;
    margin: 0px 16px;
}
.presentation-btn-video{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    gap: 12px;
    margin: 24px 0px 44px 0px;
    letter-spacing: 0.16rem;
    color: var(--negro)!important;
}
.presentation-image{     
    width: 340px;
    display: block;
    margin: auto;
    margin-bottom: 112px;
}

/*SECTION INFO*/
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    gap: 40px;
    margin-bottom: 40px;
}
.info-card-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:67px 12px auto 12px;
    gap: 16px;
}
.info-card{
    height: 440px;
    width: 247px;
    border: solid var(--verde) 2px;
    border-radius: 13px;
    background: white;

}
.info-card::before{
    content: '';
    width: 100px;
    height: 100px;
    background: var(--verde);
    position: absolute;
    border-radius: 20px;
    margin-top: 40px;
    margin-left:-20px;
    z-index: -1;
}
.info-card-circle{
    width: 179px;
    height: 179px;
    background: none;
    border-radius: 50%;
    overflow: hidden;
    
}
.info-card-circle img{
    display: block;
    margin: auto;
}
.info-card-text{
    padding: 0px 5px;
    display: grid;
    grid-row-gap: 11px;
}
.info-card-text h3{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
}
.info-card-text p{
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    letter-spacing: 0.34px;
    line-height: 15px;
    text-align: center;
}
.info article{
    margin: 0px 16px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;

}
.info article h2{
    font-size: 40px;
    line-height: 126%;
    
}


/*CARACTERISTICAS*/
.caracteristicas{
    background: var(--gris-claro);
    padding: 41px 17px 59px 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.caracteristicas-card{
    background: var(--blanco);
    border-radius: 16px;
    padding: 28px 82px 22px 82px;
}
.caracteristicas-card-inside{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    align-items: center;
    text-align: center;
}
.caracteristicas-card-inside h2{
    color: var(--verde)!important;
    letter-spacing: .14rem;
}
.caracteristicas-card-inside p{
    color: var(--negro)!important;
    letter-spacing: .37rem;
}
.caracteristicas article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}
.caracteristicas-imagen{
    background: url(../img/Group\ 15.png) center no-repeat, var(--blanco);
    background-size: contain;
    padding: auto;
    width: 341px;
    height: 185px;
    display: flex;
    
}

/*FOOTER*/
footer{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.footer-header{
    margin: 0px 16px;
    display: grid;
    grid-row-gap: 16px;
}
.footer-title{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 126%;
    color: var(--verde);
}
.footer-title span{
    color:var(--negro);
}
.footer-subtitle{
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size:12px;
    line-height: 138%;
    color: var(--gris);
    letter-spacing: 0.08rem;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.footer-card{
    margin: 0px 48px;
    border-radius: 8px;
    padding: 36px 17px 30px 17px;
    width: 276px;
}
.footer-card-inside{
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 58px;
}
.footer-card-inside div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footer-card-inside h4{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.08rem;
    line-height: 138%;
    color: var(--negro);
}
.footer-card-inside p{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    letter-spacing: 0.08rem;
    line-height: 138%;
    color: var(--gris);
}
.footer-bot{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0px 20px;
}
.footer-bot button{
    all: unset;
    cursor: pointer;
}

@media screen and (min-width:768px){
    .presentation-article{
        max-width: 358px;
    }
    .info{
        flex-direction: row;
        justify-content: center;
    }
    .info-card{
        max-width: 296px;
    }
    .info article{
        text-align: left;
        align-items: flex-start;
        max-width: 379px;
        
    }
    .caracteristicas{
       padding: 0;
       align-items: center;
       position: relative;
       z-index: 2;
    }
    .Square1{
        width: 65px;
        height: 65px;
        transform: rotate(-30deg);
        background: var(--verde);
        position: absolute;
        border-radius: 16px;
        left: -31px;
        bottom: -21px;
        z-index: -1;
    }
    .Square2{
        width: 96px;
        height: 96px;
        transform: rotate(-105deg);
        background: var(--verde);
        position: absolute;
        border-radius: 30px;
        top: -50px;
        left: 250px;
        z-index: -1;
    }
    .Square3{
        width: 127px;
        height: 127px;
        transform: rotate(-30deg);
        background: var(--verde);
        position: absolute;
        border-radius: 30px;
        right: -50px;
        top: -10px;
        z-index: -1;
    }
    .caracteristicas-card{
        margin: 90px 0px;
        position: relative;
        
    }
    .caracteristicas-card-inside{
        gap: 90px;
    }
    .caracteristicas article{
        max-width: 484px;
    }
    .caracteristicas-imagen{
        background-image: url(../img/Group\ 15_2.png);
        width: 477px;
        height: 260px;
        margin-bottom: 100px ; 
    }
    .cards{
        gap:20px;
    }
    .footer-card{
        width: 220px;
        margin: 0;
    }
    .footer-bot{
        gap: 56px;
    }
    
}
@media screen and (min-width:1152px){
    body{
        width: 1152px;
        margin: auto;
    }
    #hamb-btn{
        display: none;
    }
    header{
        position: relative;
        display: flex;
        align-items: center;

    }
    .logo{
        margin-left: 52px;
    }
    nav{
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        padding: 0;
        margin-left: 186px;
        background: transparent;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 38px;
        
    }
    nav a{
        all:unset;
        color: var(--negro);
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 0.14rem;
        line-height: auto;
        cursor: pointer;
    }

    .presentation{
        display: flex; 
        align-items: flex-start;
        position: relative;
    }
    .presentation::before{
        content: '';
        width: 295px;
        height: 700px;
        background-color: var(--verde);
        position: absolute;
        right: 0;
        border-radius: 30px 0px 0px 30px;
    }
    .presentation-article{
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: flex-start;
        gap: 11px;
        padding: 5px 0px;
        margin: 0px 16px;
        width: 497px;
        max-width: none;
        margin-top: 163px;
        margin-bottom: 147px;
        
    }
    .presentation-image{
        margin-top: 90px;
        width: 547px;
        display: block;
        position: absolute;
        right: 0;
        margin: none;
        margin-bottom: none;
    }
    .presentation-btn-video{
        margin-bottom: 67px;
    }
    .info{
        margin-top: 50px;
        gap: 101px;
    }
    .info-card{
        width: 360px;
        height: 640px;
        max-width: none;
    }
    .info-card-inside{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:98px 17px auto 17px;
        gap: 24px;
    }
    .info-card-text{
        grid-row-gap: 16px;
    }
    .info-card-circle{
        width: 260px;
        height: 260px;
        background: none;
        border-radius: 50%;
        overflow: hidden;
    }
    .info-card-text h3{
        font-family: 'Inter', sans-serif;
        font-size: 32px;
    }
    .info-card-text p{
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 22px;
        text-align: center;
    }
    .caracteristicas-flex{
        display: flex;
    }
    .caracteristicas article{
        text-align: start;
        align-items: flex-start;
    }
    .cards{
        gap: 98px;
    }
    .footer-card{
        width: 276px;
    }
}